$background: #1b1b23;
$background-secondary: #b3c6fa;

$primary: #007bff;
$Hbs-primary: #6c201d;
$Hbs-primary-hover: #743a37;

$text: #fff;
$text-dark: #999;

//main elements
.HJK {
    position: unset;

    width: 100%;

    flex-wrap: unset !important;

    display: flex !important;
    flex-direction: row;

    align-items: center !important;

    div {
        width: max-content;
        max-width: unset;
        flex: unset;

        span {
            width: max-content;
        }
    }
}

//elements
.JK-wrapper {
    width: 100% !important;
    display: flex;
    justify-content: space-between;

    div {
        margin-left: 1rem;
    }

    margin-right: auto;
}

.reorder-button {
    cursor: pointer;

    background: $Hbs-primary;
    color: $text;

    font-weight: bold;

    align-items: center;
    text-align: center;

    padding: 0.4rem 1rem;
    border: 1px solid #dcdfe6;
    border-radius: 0.4rem;

    margin: 0 0.4rem;

    transition: all 0.1s;

    &:hover {
        background-color: $Hbs-primary-hover;
    }
}

.paidData-wrapper {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    p {
        font-weight: bold;

        margin: 0;
    }

    a {
        margin-left: 0.3rem;
    }
}
