$background: #e9eef6;
$background-secondary: #ffffff;

$primary: #b3c6fa;
$Hbs-primary: #6c201d;
$Hbs-primary-hover: #743a37;

$supported: #7db880;
$unspported: #b87d7d;

$text: #1f1f1f;
$text-dark: #585858;

//main elements
.HJK {
    position: unset;

    width: 100%;

    flex-wrap: unset !important;

    display: flex !important;
    flex-direction: row;

    align-items: center !important;

    div {
        width: max-content;
        max-width: unset;
        flex: unset;

        span {
            width: max-content;
        }
    }
}

//fix lisahockey container width
.app-container {
    max-width: unset !important;
}

//elements
.JK-wrapper {
    background: $background-secondary;

    width: 100% !important;
    display: flex;
    justify-content: space-between;

    border-radius: 1.5rem;
    padding: 0.6rem;
    margin: 0 1rem;

    div {
        margin-left: 1rem;
    }
}

.reorder-button {
    transition: all 0.3s ease;
    cursor: pointer;

    background: $background;
    color: $text;

    font-weight: bold;

    align-items: center;
    text-align: center;

    padding: 0.4rem 1rem;
    border-radius: 1.5rem;

    margin: 0 0.4rem;

    transition: all 0.1s;

    &:hover {
        background: rgba(#272727, 0.3);
    }
}

.paidData-wrapper {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    p {
        font-weight: bold;

        margin: 0;
    }

    a {
        margin-left: 0.3rem;
    }
}
