@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$background: #e9eef6;
$background-secondary: #ffffff;

$primary: #b3c6fa;
$Hbs-primary: #6c201d;
$Hbs-primary-hover: #743a37;

$supported: #7db880;
$unspported: #b87d7d;

$text: #1f1f1f;
$text-dark: #585858;

:root {
    --sups: 0;
}

//global styling
.button {
    transition: background 0.3s ease;
    cursor: pointer;

    padding: 0.3rem 0.4rem;
    border-radius: 0.3rem;

    &:hover {
        background: rgba(#272727, 0.3);
    }
}

* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-style: normal;

    scroll-behavior: smooth !important;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    background: $background;

    padding: 0;
    margin: 0;

    color: $text;
}

.react-target {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;

    gap: 1rem;
}

.popup-hostname {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 1.5rem 1rem 0.5rem 1rem;

    font-size: 0.4rem;

    svg {
        font-size: 0.7rem;
        margin-left: 0.4rem;

        color: $supported;

        &.x {
            color: $unspported;
        }
    }

    img {
        cursor: grab;
        position: absolute;
        left: 1.5rem;

        width: 1.5rem;
        height: 1.5rem;
    }
}

.popup-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 0.4rem;

    &.deactive {
        .popup-list-header {
            border-radius: 1.5rem;

            svg {
                transform: rotateZ(180deg);
            }
        }

        .popup-list-items {
            height: 0 !important;

            opacity: 0;
        }
    }
}

.popup-list-header {
    transition: all 0.5s;

    background: $background-secondary;

    border-radius: 1.5rem 1.5rem 0.3rem 0.3rem;

    width: 18.5rem;
    padding: 1rem 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.15rem;

    h1 {
        font-size: 0.8rem;
        font-weight: 700;
    }

    svg {
        transition: all 0.5s;
        background: $background;
        padding: 0.3rem;
        border-radius: 100%;

        font-size: 0.8rem;
    }
}

.popup-list-items {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;

    > p {
        background: $background-secondary;
        border-radius: 0.3rem;

        width: 18.5rem;

        line-height: 0;
        padding: 1.5rem 1.5rem;

        text-align: center;
        font-weight: 500;
        font-size: 0.8rem;

        color: rgba(#1f1f1f, 0.7);

        margin-bottom: 0.15rem;
    }

    > p:last-of-type {
        border-radius: 0.3rem 0.3rem 1.5rem 1.5rem;
    }

    > div {
        background: $background-secondary;
        border-radius: 0.3rem 0.3rem 1.5rem 1.5rem;
        padding: 1.5rem 1.5rem;

        display: flex;
        flex-direction: column;
        text-align: left;

        width: 18.5rem;
        font-weight: 500;
        font-size: 0.8rem;

        color: rgba(#1f1f1f, 0.7);
    }
}

.popup-footer {
    padding: 0 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 0.3rem;

    font-weight: 500;
    font-size: 0.7rem;

    color: $text-dark;

    i {
        font-size: 0.5rem;
    }

    h1 {
        transition: all ease 0.2s;
        position: absolute;
        left: 0.5rem;

        font-size: 0.6rem;
        padding: 1rem;

        opacity: 0;

        &.active {
            opacity: 1;
        }
    }
}
